@{
    ViewData["Title"] = "SINGLE";
}
@model Blinkblink.ViewModels.UploadedImageData
@{
    IEnumerable<Image> Images = ViewData["Images"] as IEnumerable<Image>;

}
<div class="container-fluid photos">
    <div class="row pt-4 mb-5 text-center">
        <div class="col-12">
            <h2 class="text-white mb-4">@Images.ElementAt(0).Idol.Name</h2>


            <a href="#0" class="cd-popup-trigger">Submit Ur Fav Picture</a>

            <div class="cd-popup" role="alert">
                <div class="cd-popup-container">
                    <form id="FormSubmitFile" method="post" enctype="multipart/form-data" asp-action="UploadFiles">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-white" asp-for="Caption"></label>
                                <input asp-for="Caption" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-white" for="subject">File</label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="file" name="ImageFile" accept="image/*,video/*">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <ul class="cd-buttons">
                            <li><a id="submitform" href="#0">Upload</a></li>
                            <li><a href="#0">No</a></li>
                        </ul>
                    </form>
                    <a href="#0" class="cd-popup-close img-replace"></a>
                </div> <!-- cd-popup-container -->
            </div> <!-- cd-popup -->
        </div>

    </div>
    <div class="row align-items-stretch">
        @{
            var totalLoop = Images.ToArray().Length / 19;
            var elementThua = Images.ToArray().Length % 19;
            var sizeArr = Images.ToArray().Length;
            if (elementThua > 0)
            {
                totalLoop++;
            }
            for (var i = 0; i < totalLoop; i++)
            {
                if (i > sizeArr)
                {
                    break;
                }
                var element_0 = Images.ElementAt(i);
                <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                    <a href="@element_0.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_0.IsVideo == 1)
                            {
                                <img src="@element_0.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_0.Url" class="img-fluid">
                                    <source src="@element_0.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }

                    </a>
                </div>
                if (i + 1 > sizeArr)
                {
                    break;
                }
                var element_1 = Images.ElementAt(i + 1);
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <a href="@element_1.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_1.IsVideo == 1)
                            {
                                <img src="@element_1.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_1.Url" class="img-fluid">
                                    <source src="@element_1.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 2 > sizeArr)
                {
                    break;
                }
                var element_2 = Images.ElementAt(i + 2);
                <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                    <a href="@element_2.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_2.IsVideo == 1)
                            {
                                <img src="@element_2.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_2.Url" class="img-fluid">
                                    <source src="@element_2.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 3 > sizeArr)
                {
                    break;
                }
                var element_3 = Images.ElementAt(i + 3);
                <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
                    <a href="@element_3.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_3.IsVideo == 1)
                            {
                                <img src="@element_3.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_3.Url" class="img-fluid">
                                    <source src="@element_3.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 4 > sizeArr)
                {
                    break;
                }
                var element_4 = Images.ElementAt(i + 4);
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <a href="@element_4.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_4.IsVideo == 1)
                            {
                                <img src="@element_4.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_4.Url" class="img-fluid">
                                    <source src="@element_4.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 5 > sizeArr)
                {
                    break;
                }
                var element_5 = Images.ElementAt(i + 5);
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
                    <a href="@element_5.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_5.IsVideo == 1)
                            {
                                <img src="@element_5.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_5.Url" class="img-fluid">
                                    <source src="@element_5.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 6 > sizeArr)
                {
                    break;
                }
                var element_6 = Images.ElementAt(i + 6);
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <a href="@element_6.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_6.IsVideo == 1)
                            {
                                <img src="@element_6.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_6.Url" class="img-fluid">
                                    <source src="@element_6.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 7 > sizeArr)
                {
                    break;
                }
                var element_7 = Images.ElementAt(i + 7);

                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <a href="@element_7.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_7.IsVideo == 1)
                            {
                                <img src="@element_7.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_7.Url" class="img-fluid">
                                    <source src="@element_7.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 8 > sizeArr)
                {
                    break;
                }
                var element_8 = Images.ElementAt(i + 8);
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <a href="@element_8.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_8.IsVideo == 1)
                            {
                                <img src="@element_8.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_8.Url" class="img-fluid">
                                    <source src="@element_8.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 9 > sizeArr)
                {
                    break;
                }
                var element_9 = Images.ElementAt(i + 9);
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <a href="@element_9.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_9.IsVideo == 1)
                            {
                                <img src="@element_9.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_9.Url" class="img-fluid">
                                    <source src="@element_9.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 10 > sizeArr)
                {
                    break;
                }
                var element_10 = Images.ElementAt(i + 10);
                <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                    <a href="@element_10.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_10.IsVideo == 1)
                            {
                                <img src="@element_10.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_10.Url" class="img-fluid">
                                    <source src="@element_10.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 11 > sizeArr)
                {
                    break;
                }
                var element_11 = Images.ElementAt(i + 11);
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <a href="@element_11.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_11.IsVideo == 1)
                            {
                                <img src="@element_11.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_11.Url" class="img-fluid">
                                    <source src="@element_11.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 12 > sizeArr)
                {
                    break;
                }
                var element_12 = Images.ElementAt(i + 12);
                <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                    <a href="@element_12.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_12.IsVideo == 1)
                            {
                                <img src="@element_12.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_12.Url" class="img-fluid">
                                    <source src="@element_12.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 13 > sizeArr)
                {
                    break;
                }
                var element_13 = Images.ElementAt(i + 13);
                <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
                    <a href="@element_13.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_13.IsVideo == 1)
                            {
                                <img src="@element_13.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_13.Url" class="img-fluid">
                                    <source src="@element_13.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 14 > sizeArr)
                {
                    break;
                }
                var element_14 = Images.ElementAt(i + 14);
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <a href="@element_14.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_14.IsVideo == 1)
                            {
                                <img src="@element_14.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_14.Url" class="img-fluid">
                                    <source src="@element_14.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 15 > sizeArr)
                {
                    break;
                }
                var element_15 = Images.ElementAt(i + 15);
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
                    <a href="@element_15.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_15.IsVideo == 1)
                            {
                                <img src="@element_15.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_15.Url" class="img-fluid">
                                    <source src="@element_15.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 16 > sizeArr)
                {
                    break;
                }
                var element_16 = Images.ElementAt(i + 16);
                <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <a href="@element_16.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_16.IsVideo == 1)
                            {
                                <img src="@element_16.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_16.Url" class="img-fluid">
                                    <source src="@element_16.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 17 > sizeArr)
                {
                    break;
                }
                var element_17 = Images.ElementAt(i + 17);

                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <a href="@element_17.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_17.IsVideo == 1)
                            {
                                <img src="@element_17.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_17.Url" class="img-fluid">
                                    <source src="@element_17.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
                if (i + 18 > sizeArr)
                {
                    break;
                }
                var element_18 = Images.ElementAt(i + 18);

                <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                    <a href="@element_18.Url" class="d-block photo-item" data-fancybox="gallery">
                        @{
                            if (element_18.IsVideo == 1)
                            {
                                <img src="@element_18.Url" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }
                            else
                            {
                                <video poster="@element_18.Url" class="img-fluid">
                                    <source src="@element_18.Url" type="video/mp4">
                                </video>
                                <div class="photo-text-more">
                                    <span class="icon icon-search"></span>
                                </div>
                            }

                        }
                    </a>
                </div>
            }
        }






    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</div>